{% extends "base.html" %}

{% block content %}
    <form name="Pay" method="post" action="https://pay.piastrix.com/ru/pay" accept-charset="UTF-8">
        <input type="hidden" name="amount" value="{{data.amount}}"/>
        <input type="hidden" name="currency" value="{{data.currency}}"/>
        <input type="hidden" name="shop_id" value="{{data.shop_id}}"/>
        <input type="hidden" name="sign"
        value="{{data.sign}}"/>
        <input type="hidden" name="shop_order_id" value="{{data.shop_order_id}}"/>
        <input type="submit" input type="hidden" name="description" value="Test
        invoice"/>
    </form>
{% endblock %}